@charset "UTF-8";

#map, #input-form{height: 55vh; }
#infowindow-content .title {font-weight: bold; }
#infowindow-content {display: none; }
#map #infowindow-content {display: inline; }
.form-select {display: none; }

/* 리스트 항목 */
.modal-body-col {
	height: 350px;
	overflow: auto;
}
.modal-memo {
	height: 120px;
	overflow: auto;
}
.modal-country, .modal-region, .modal-date, .modal-writer {
	font-weight: 800;
}